logs/*
.vscode/
testing/

# auth_dns build artifacts
auth_dns/bin
auth_dns/obj

# upstream_dns build artifacts
upstream_dns/bin
upstream_dns/obj

# DNSSEC private keys
auth_dns/config/*.pem
auth_dns/config/*.key
upstream_dns/config/*.pem
upstream_dns/config/*.key