[Unit]
Description=Authoritative DNS Server
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
ExecStart=@INSTALL_BIN@/auth_dns -p 5335 -t 20 -u 127.0.0.1 -q 512
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=3s
KillMode=mixed
TimeoutStopSec=15s
LimitNOFILE=65535
ReadWritePaths=@LOG_DIR@ /run
ReadOnlyPaths=@SERVER_PATH@

[Install]
WantedBy=multi-user.target
